<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="banner-content">
                    <div class="content-body">
                        <div class="content-title">
                            <span>Shopping is</span>
                            <span class="text-theme-bold">MORE FUN</span>
                        </div>
                        <div class="my-3 text-theme-darkblue">
                            Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque
                            quis erat sed
                        </div>
                        <button class="mt-4 btn btn-light">SHOP NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="banner-image">
                    <img src="images/Banner-thumb.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>