<div class="container">
    <div class="row align-items-center my-5">
        <div class="col-3">
            <img src="images/logo.svg" alt="">
        </div>
        <div class="col-5">
            <div class="search-box">
                <input type="text" placeholder="Search products...">
                <label for="" class="icon">
                    <i class="fa-regular fa-magnifying-glass"></i>
                </label>
            </div>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-between">
            <div><i class="fa-regular fa-user"></i> My account</div>
            <div><i class="fa-regular fa-heart"></i></div>
            <div><i class="fa-regular fa-shuffle"></i></div>
            <button class="btn position-relative">
                <i class="fa-regular fa-bag-shopping position-relative">
                    <span class="position-absolute translate-middle badge rounded-pill theme-color">2</span>
                </i> 
                $9990.00
            </button>
        </div>
    </div>
</div>