<nav class="top-menu">
    <div class="container">
        <div class="d-flex justify-content-between">
            <ul>
                <li>ENG <i class="fa-thin fa-angle-down ms-1"></i></li>
                <li>USD <i class="fa-thin fa-angle-down ms-1"></i></li>
            </ul>
            <ul>
                <li class="me-4">
                    <ul>
                        <li>Newsletter</li>
                        <li>Contact us</li>
                        <li>FAQs</li>
                    </ul>
                </li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-linkedin"></i></li>
                <li><i class="fa-brands fa-tiktok"></i></li>
            </ul>
        </div>
    </div>
</nav>