@using _02_ServiceLiftetimes_Singleton_Scoped_Transient.Services
@model ISingletonService

<p>
    <strong>PARENT: </strong>
    <span>@Model.GetGuid();</span>
</p>

<partial name="_SingletonPartial" />